*/.idea/
*/.idea/vcs.xml
*/__pycache__/
*/spine06/
eval/cyclegan/
eval/gt/
eval/pix2pix/
eval/src/.idea/
eval/src/*.jpg
eval/src/__pycache__/
eval/src/*.xlsx
eval/ct/
eval/discogan/
.DS_Store
*/.DS_Store
