*/.idea/
*/.idea/vcs.xml
*/__pycache__/
*/spine06/
caseStudy/
eval/cyclegan/
eval/gt/
eval/pix2pix/
eval/src/.idea/
eval/src/*.jpg
eval/src/__pycache__/
eval/src/*.xlsx
eval/ct/
eval/discogan/
.DS_Store
*/.DS_Store
eval/src/*/*.jpg
eval/ct_test/
eval/cyclegan_test/
eval/discogan_test/
eval/gt_test/
eval/mrgan_test/
eval/pix2pix_test/
eval/mrgan/
eval/mrganPlus/
eval/mrganPlus_w1=0_w2=0
eval/mrganPlus_w1=1_w2=0
eval/mrganPlus_w1=10_w2=0
eval/mrganPlus_w1=100_w2=0
eval/mrganPlus_w1=0_w2=1
eval/mrganPlus_w1=1_w2=1
eval/mrganPlus_w1=10_w2=1
eval/mrganPlus_w1=100_w2=1
eval/mrganPlus_w1=0_w2=10
eval/mrganPlus_w1=1_w2=10
eval/mrganPlus_w1=10_w2=10
eval/mrganPlus_w1=100_w2=10
eval/mrganPlus_w1=0_w2=100
eval/mrganPlus_w1=0_w2=1000
eval/mrganPlus_w1=1000_w2=0
eval/mrganPlus_w1=1000_w2=1
eval/mrganPlus_w1=1000_w2=10
eval/mrganPlus_w1=1000_w2=100
eval/mrganPlus_w1=1000_w2=1000
eval/mrganPlus_w1=100_w2=100
eval/mrganPlus_w1=100_w2=1000
eval/mrganPlus_w1=10_w2=100
eval/mrganPlus_w1=10_w2=1000
eval/mrganPlus_w1=1_w2=100
eval/mrganPlus_w1=1_w2=1000
eval/mrganPlusPlus_w3=0.1
eval/mrganPlusPlus_w3=0.5
eval/mrganPlusPlus_w3=1
eval/mrganPlusPlus_w3=10
eval/mrganPlusPlus_w3=100
eval/mrganPlusPlus_w3=1000
eval/src/data
eval/DC2Anet/
eval/src/best20_ssim_DC2Anet/
eval/src/best30_ssim_DC2Anet/
eval/src/best30_ssim_mrganPlus
eval/src/best30_ssim_mrganPlusPlus
eval/DC2Anet_20190222-0737/
eval/DC2Anet_20190222-1039/
eval/DC2Anet_20190223-1334/
eval/DC2Anet_20190225-1341/
eval/DC2Anet_20190228-1700/
eval/DC2Anet_20190301-1512/
